*{
    margin: 0;
    padding:0;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
}

.item-container{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-bottom: 1px solid rgb(50, 80, 210);
}

.item-container h1{
    margin-bottom: 20px;
}

.item-container input{
    width: 500px;
    height: 30px;
}

.item-container button{
    width: 500px;
    margin-top: 7px;
    background-color: rgb(7, 132, 204);
    border: none;
    height: 25px;
    color: white;
    font-size: 18px;
}

#list-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.list-item{
    display: flex;
    justify-content: center;
}

.list-item p{
    width: 500px;
    height: 30px;
    border: 1px solid rgb(7, 132, 204);
    text-align: center;
    margin-top:4px;
}

.list-item button{
    width: 60px;
    background-color: rgb(7, 132, 204);
    color: white;
    border: none;
    margin-top: 4px;
}

@media screen and (max-width:375px){
    .item-container input{
        width: 200px;
    }
    .item-container button{
        width: 200px;
    }
    .list-item p{
        width: 200px;
        font-size: 11px;
    }
}
